@{
    ViewData["Title"] = "Forum";
}

@model List<FirstCoreSolution.Models.Post>;

<div class="text-start">

<div class="d-flex justify-content-between">
    <nav class="navbar pb-0 mb-0">
        <ul class="d-flex m-0">
            <li class="nav-item text-primary fw-bold h5 active"><a asp-controller="Forum" asp-action="Index" class="nav-link">Top Questions</a></li>
            <li class="nav-item text-primary fw-bold h5"><a asp-controller="Forum" asp-action="Recent" class="nav-link">Most Recent</a></li>
        </ul>
    </nav>
    <a asp-controller="Forum" asp-action="AddPost" class="btn btn-primary ms-4 me-5 my-2">Ask a question</a>
</div>

    @foreach(Post p in Model){
        <div class="d-flex border border-secondary m-4 p-3">
            <div class="mx-3 text-center">
                <a asp-controller="Forum" asp-action="Upvote" asp-route-id="@p.Id" class="h4 m-0"><i class="fa fa-caret-up fw-bold"></i></a>
                <p class="mb-0">@p.Rating</p>
                <a asp-controller="Forum" asp-action="Downvote" asp-route-id="@p.Id" class="h4 m-0"><i class="fa fa-caret-down fw-bold"></i></a>
            </div>
            <div class="ms-2">
                <a asp-controller="Forum" asp-action="ViewPost" asp-route-id="@p.Id"><h3>@p.Heading</h3></a>
                <p>@p.Body</p>
                <p class="fw-bold">Date: @p.Date</p>
            </div>
        </div>
    }
   
</div>
